<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Page</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="stylesheet" href="styles/vendor.2ac5f564.css"/>
        <link rel="stylesheet" href="styles/main.1f9c5951.css"/>
    </head>
    <body>
        <div class="container">
            <div th:if="${param.error} and ${session.SPRING_SECURITY_LAST_EXCEPTION} != null" class="alert alert-danger">
                <span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION}"></span>
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                You have been logged out.
            </div>

            <form class="form-signin">
                <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                <h4 class="form-signin-heading" style="text-align:center;">Please sign in</h4>
                <label for="inputUsername" class="sr-only">Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username"/>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password"/>
                <button class="btn btn-lg btn-primary btn-block" type="button" id="btn-login">Sign in</button>
            </form>
        </div>
        
        <script src="scripts/vendor.b610492f.js"></script>
        <script type="text/javascript">
            $('.form-signin').on('keyup', function(e){
                e.preventDefault();
                if(e.which == 13 || e.keyCode == 13){
                    processLogin();
                }        
            });
            
            $('#btn-login').click(function(){
                processLogin();
            });
            
            function processLogin(){
                $.ajax({
                  url: window.location.href,
                  method: 'POST',
                  type: 'text/html',
                  contentType: 'application/x-www-form-urlencoded',
                  data : $('.form-signin').serialize(),
                  success: function(data, textStatus, request){
                      localStorage.setItem('token', request.getResponseHeader('Authorization'));
                      window.location.replace(request.getResponseHeader('Location'));
                  }, 
                  error: function(xhr, ajaxOptions, thrownError) {
                      window.location.href = 'login?error';
                  }
                });
            }
        </script>
    </body>
</html>
